Приложение позволяет создавать в базе студентов и преподавателей. Указывать их данные. Редактировать их, удалять их. Выводить на экран в виде списка/таблицы.
Данные студента - это его анкета, его умения, его интересы.
Данные преподавателя - анкета, преподаваемые предметы, интересы, умения.

Анкета состоит из ... 
Что входит в умения:

ну например, играть в футбол, программировать на Java, делать приложения.

? умения и интересы могут совпадать
нет

? что делать (куда добавлять умение, совпадающее с интересом)
пусть будет еще один пользователь, который умеет список интересов и умений редактировать

?что делать если умение и интерес не содержатся в списке
......

?что за пользователи
специально делать не надо, каждому, у его есть приложение, доступен весь функционал

? может ли быть такой пользователь, который является и преподавателем и студент

? что делать при увольнении/исключении - надо ли удалять из списка
если надо - сам пользователь удалить

r1. Система позволяет добавлять, редактировать и удалять информацию о студентах
r2. Система позволяет добавлять, редактировать и удалять информацию о преподавателях
r3. Система позволяет редактировать заданный в ней список интересов.
r4. Система позволяет редактировать заданный в ней список умений.
r5. Система позволяет выводить данные о преподавателе или студенте.
r6. Система позволяет искать пользователей по общим интересам и умениям (1 или нескольким).
r7. Система хранит данные пользователей в базе, загружает их из базы в начале работы и сохраняет в конце работы.
r8. Система позволяет для числовых значений анкеты задавать критерии поиска вида a > n, где a - название параметра, ><<=>=!== - операция, а n - указанное значение.
r9. Система обладает интерактивной консолью, куда вводится команда, реализующая разрешенное действие. Если команда правильная - действие выполняет, если не правильная - выдается сообщение об ошибке.

